<header class="nav-bar">
  <div class="nav-content">
      <a href="/">
          <div class="nav-logo">
              <img src="./static/img/logo.svg" />
          </div>
      </a>
      <div id="nav-to-fellow">
          <a href="/VuongHo">
            <div class="nav-fellow">
              Vuong Ho
            </div>
          </a>
          <a href="/MatthewChang">
            <div class="nav-fellow">
              Matthew Chang
            </div>
          </a>
      </div>
  </div>
</header>