<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title" content="Personal Portfolio" />
  <meta property="og:description" content="My Personal Portfolio" />
  <meta property="og:url" content="{{ url }}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
  <script src="./static/scripts/main.js"></script>
  <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
  <title>{{ title }}</title>
  {%import 'entry.html' as item%} {%import 'components/hobby.html' as hobby%}
</head>

{% include 'components/header.html' %}

<body>
  <div class="profile">
    <div id="profile-picture" class="profile-picture">
      <img src="./static/img/matthew_chang/profile.jpg" />
    </div>
    <h1>{{ title }}</h1>
  </div>

  <div class="about">
    <h2 class="title"></h2>

    <div class="description">
      <button class="accordion" onclick="toggle_accordion(this)">
        About Me
      </button>
      <div class="panel">
        <p>Want to know more about this 20 year old from California?</p>
        <p>Click on the other sections to find out!</p>
      </div>

      <button class="accordion" onclick="toggle_accordion(this)">
        Education
      </button>
      <div class="panel">
        {{item.entry("I'm a rising junior studying Computer Science at
          University of California, Irvine. I'm also interested in learning
          about management and psychology and have taken some classes in both
          subjects.")}}
      </div>

      <button class="accordion" onclick="toggle_accordion(this)">
        Work Experience
      </button>
      <div class="panel">
        {{item.entry('Fullstack Developer @ Commit the Change (2022-)')}}
        {{item.entry('AI Prompt Engineer @ DataAnnotation (2023-)')}}
      </div>

      <button class="accordion" onclick="toggle_accordion(this)">Map</button>
      <div class="panel">
        <p>
          I've lived in California for the majority of my life and I had the
          chance to visit Nevada, Arizona, and Utah last year which was pretty
          cool to me.
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6512740.2871207865!2d-124.59318489298444!3d37.151535126749394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia!5e0!3m2!1sen!2sus!4v1719597018380!5m2!1sen!2sus"
          width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</body>

</html>